@import url('https://fonts.googleapis.com/css2?family=News+Cycle&family=Noticia+Text:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100vh;
    width: 100%;
    scroll-behavior: smooth;
}

body {
    font-family: 'News Cycle', sans-serif;
    font-family: 'Noticia Text', serif;
}

/* Navbar */
.topnav {
    background-color: rgb(43, 66, 71);
    overflow: hidden;
    position: sticky;
}

.topnav ul { float: right; }

.topnav a {
    float: left;
    display: inline;
    color: #ffffff;
    padding: 20px 16px;
    margin-top: 15px;
    text-decoration: none;
    font-size: 17px;
    transition: 0.8s;
}

.topnav a#link1:hover {
    background-color: rgb(184, 178, 178);
    color: black;
}

.topnav .icon { display: none; }

.topnav > img { 
    float: left;
    height: 100px;
    width: 108px;
    max-width: 100%;
}

/* Carousel */
.mySlides { display: none; }

.slideshow-containe > img {vertical-align: middle;}

.slideshow-container {
    max-width: 60rem;
    position: relative;
    margin: auto;
}

.text {
    color: #000000;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    border: 2px solid black;
    background-color: white;
}

.numbertext {
    color: #000000;
    font-size: 20px;
    padding: 8px 12px;
    position: absolute;
    top: 7;
    width: 100%;
    text-align: center;
}
  
.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
  
.active {
    background-color: #5c5959;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

/* More news */
.basketball{
    display:flex;
}

/* Basketball */
.basketball1 {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}

.basketball1 > img {
    height: 257px;
    width: 248px;
    max-width: 100%;
}
.bask_tekst1{
    width: 250px;
    font-size: medium;
}

.basketball2 > img {
    height: 257px;
    width: 250px;
    max-width: 100%;
} 

.bask_tekst2{
    width: 250px;
    font-size: medium;
}
.basketball3 > img{
    height: 257px;
    width: 248px;
    max-width: 100%;
}
.bask_tekst3 {
    width: 250px;
    font-size: medium;
}

    



/* Media queries */

/* Navbar */
@media screen and (max-width: 930px) {
    .topnav a {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
}

@media screen and (max-width: 930px) {
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav ul,
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: center;
    }
}

/* Logo in de navbar */
@media screen and (max-width: 930px) {
    .topnav > img.responsive { height: 100px; width: 155px;}
}

/* Carousel */
@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
  
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
  
/* Op kleinere schermen wordt de tekst kleiner*/
@media only screen and (max-width: 300px) {
    .text {font-size: 11px}
}

